
@model HanmakTechnologies.BulletinBoard.Models.Bulletin

<h4>Create Bulletin</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Subject)
  @Html.TextBoxFor(model => model.Subject)

  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

  @Html.Label("Select Category")
  @Html.DropDownList("CategoryID")

  <input type="submit" value="Create new bulletin" class="btn btn-default" />
}

<p>@Html.ActionLink("Show bulletins", "Index")</p>
